In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error
import math

In [2]:
df_results = pd.DataFrame(columns = ['MAE', 'RMSE', 'MAPE'])
df_results['MAE'] = [0,0,0,0,0,0,0,0,0,0]
df_results.index = ['Set1', 'Set2', 'Set3', 'Set4', 'Set5','Set6', 'Set7', 'Set8', 'Set9', 'Set10']
df_results.head()

      MAE RMSE MAPE
Set1    0  NaN  NaN
Set2    0  NaN  NaN
Set3    0  NaN  NaN
Set4    0  NaN  NaN
Set5    0  NaN  NaN

In [31]:
number=10
y_true_data = '../wiki_Test_'+str(number)+'.csv'
y_pred_data = 'Wiki_Nbeats_Forecast_'+str(number)+'.csv' 

df_true = pd.read_csv(y_true_data)
df_pred = pd.read_csv(y_pred_data)

print(df_true.head())
print(df_pred.head())

print(len(df_true[df_true['values']<0]))
len(df_pred[df_pred['y']<0])

           ds  values
0  2021-05-16     562
1  2021-05-17     911
2  2021-05-18    1129
3  2021-05-19    1189
4  2021-05-20    1052
           ds           y
0  2021-05-16   688.98486
1  2021-05-17  1066.38350
2  2021-05-18  1721.23880
3  2021-05-19  2389.40480
4  2021-05-20  2784.06840
0

12

In [32]:
df_pred.loc[df_pred.y<50,'y']= 0 
print(df_pred.head())
print(len(df_pred[df_pred['y']<0]))

           ds           y
0  2021-05-16   688.98486
1  2021-05-17  1066.38350
2  2021-05-18  1721.23880
3  2021-05-19  2389.40480
4  2021-05-20  2784.06840
0

In [33]:
set = 'Set'+str(number)

y_true = df_true['values']
y_pred = df_pred['y']

# MAE setzen 

df_results['MAE'][set] = round(mean_absolute_error(y_true, y_pred),0)

#RMSE setzen
mse=mean_squared_error(y_true, y_pred)
rmse = math.sqrt(mse)
df_results['RMSE'][set] = round(rmse)

#MAPE setzen
df_results['MAPE'][set]=round(mean_absolute_percentage_error(y_true, y_pred),4)

df_results.head(10)

C:\Users\strub\AppData\Local\Temp\ipykernel_22088\1892951705.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_results['MAE'][set] = round(mean_absolute_error(y_true, y_pred),0)
C:\Users\strub\AppData\Local\Temp\ipykernel_22088\1892951705.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_results['RMSE'][set] = round(rmse)
C:\Users\strub\AppData\Local\Temp\ipykernel_22088\1892951705.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_results['MAPE'][set]=round(mean_absolute_percentage_error(y_true, y_pred),4)

        MAE  RMSE    MAPE
Set1    752   919  0.6861
Set2    902  1012  0.8052
Set3    826   983  0.6163
Set4   1804  2852  0.4989
Set5   2334  3558  0.3344
Set6   1266  1685  0.4278
Set7   1135  1257  0.7963
Set8   1089  1217  1.2068
Set9    811   860  0.9132
Set10   987  1145  1.0857

In [35]:
df_results.to_csv('Errors_Nbeats_Wiki.csv',index=False)