In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error
import math

In [3]:
df_results = pd.DataFrame(columns = ['MAE', 'RMSE', 'MAPE'])
df_results['MAE'] = [0,0,0,0,0,0,0,0,0,0]
df_results.index = ['Set1', 'Set2', 'Set3', 'Set4', 'Set5','Set6', 'Set7', 'Set8', 'Set9', 'Set10']
df_results.head()

      MAE RMSE MAPE
Set1    0  NaN  NaN
Set2    0  NaN  NaN
Set3    0  NaN  NaN
Set4    0  NaN  NaN
Set5    0  NaN  NaN

In [31]:
number=10
y_true_data = '../wiki_Test_'+str(number)+'.csv'
y_pred_data = 'Wiki_NP_Forecast_'+str(number)+'.csv' 

df_true = pd.read_csv(y_true_data)
df_pred = pd.read_csv(y_pred_data)

print(df_true.head())
print(df_pred.head())

print(len(df_true[df_true['values']<0]))
len(df_pred[df_pred['yhat1']<0])

           ds  values
0  2021-05-16     562
1  2021-05-17     911
2  2021-05-18    1129
3  2021-05-19    1189
4  2021-05-20    1052
           ds        yhat1
0  2021-05-16   586.319702
1  2021-05-17  1424.216187
2  2021-05-18  1287.948242
3  2021-05-19  1029.656006
4  2021-05-20   878.079041
0

3

In [32]:
df_pred.loc[df_pred.yhat1<50,'yhat1']= 0 
print(df_pred.head())
print(len(df_pred[df_pred['yhat1']<0]))

           ds        yhat1
0  2021-05-16   586.319702
1  2021-05-17  1424.216187
2  2021-05-18  1287.948242
3  2021-05-19  1029.656006
4  2021-05-20   878.079041
0

In [33]:
set = 'Set'+str(number)

y_true = df_true['values']
y_pred = df_pred['yhat1']

# MAE setzen 

df_results['MAE'][set] = round(mean_absolute_error(y_true, y_pred),0)

#RMSE setzen
mse=mean_squared_error(y_true, y_pred)
rmse = math.sqrt(mse)
df_results['RMSE'][set] = round(rmse)

#MAPE setzen
df_results['MAPE'][set]=round(mean_absolute_percentage_error(y_true, y_pred),4)

df_results.head(10)

C:\Users\strub\AppData\Local\Temp\ipykernel_29136\2923432767.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_results['MAE'][set] = round(mean_absolute_error(y_true, y_pred),0)
C:\Users\strub\AppData\Local\Temp\ipykernel_29136\2923432767.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_results['RMSE'][set] = round(rmse)
C:\Users\strub\AppData\Local\Temp\ipykernel_29136\2923432767.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_results['MAPE'][set]=round(mean_absolute_percentage_error(y_true, y_pred),4)

        MAE  RMSE    MAPE
Set1    500   609  0.4673
Set2    716   806  0.6421
Set3   1345  1624  0.9039
Set4   3838  6393  1.0126
Set5   3512  6392  0.4926
Set6   1314  1602  0.4476
Set7    574   730  0.4033
Set8    379   429   0.427
Set9    309   369  0.3838
Set10   341   411   0.407

In [35]:
df_results.to_csv('Errors_NP_Wiki.csv',index=False)