In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error
import math

In [30]:
df_results = pd.DataFrame(columns = ['MAE', 'RMSE', 'MAPE'])
df_results['MAE'] = [0,0,0,0,0,0,0,0,0,0]
df_results.index = ['Set1', 'Set2', 'Set3', 'Set4', 'Set5','Set6', 'Set7', 'Set8', 'Set9', 'Set10']
df_results.head()

      MAE RMSE MAPE
Set1    0  NaN  NaN
Set2    0  NaN  NaN
Set3    0  NaN  NaN
Set4    0  NaN  NaN
Set5    0  NaN  NaN

In [54]:
number=10
y_true_data = '../wiki_Test_'+str(number)+'.csv'
y_pred_data = 'Wiki_Orbit_Forecast_'+str(number)+'.csv' 

df_true = pd.read_csv(y_true_data)
df_pred = pd.read_csv(y_pred_data)

print(df_true.head())
print(df_pred.head())

print(len(df_true[df_true['values']<0]))
len(df_pred[df_pred['prediction']<0])

           ds  values
0  2021-05-16     562
1  2021-05-17     911
2  2021-05-18    1129
3  2021-05-19    1189
4  2021-05-20    1052
           ds  prediction_5   prediction  prediction_95      trend_5  \
0  2021-05-16  -1834.133214  4895.596673   11546.704262 -1834.361268
1  2021-05-17  -1838.133786  4971.418334   11754.865821 -1838.339557
2  2021-05-18  -1937.008318  4915.806316   11607.494344 -1937.191723
3  2021-05-19  -1924.437579  4980.693959   11661.394866 -1924.598542
4  2021-05-20  -1796.120567  5009.944628   11661.444356 -1796.259018

         trend      trend_95  regression_5  regression  regression_95  \
0  4895.368620  11546.476209           0.0         0.0            0.0
1  4971.212564  11754.660050           0.0         0.0            0.0
2  4915.622911  11607.310939           0.0         0.0            0.0
3  4980.532996  11661.233903           0.0         0.0            0.0
4  5009.806177  11661.305905           0.0         0.0            0.0

   seasonality_365.25_5  seasonality_365.25  seasonality_365.25_95
0              0.228053            0.228053               0.228053
1              0.205771            0.205771               0.205771
2              0.183405            0.183405               0.183405
3              0.160963            0.160963               0.160963
4              0.138451            0.138451               0.138451
0

0

In [39]:
df_pred.loc[df_pred.yhat1<50,'yhat1']= 0 
print(df_pred.head())
print(len(df_pred[df_pred['yhat1']<0]))

AttributeError: 'DataFrame' object has no attribute 'yhat1'

In [52]:
set = 'Set'+str(number)

y_true = df_true['values']
y_pred = df_pred['prediction']

# MAE setzen 

df_results['MAE'][set] = round(mean_absolute_error(y_true, y_pred),0)

#RMSE setzen
mse=mean_squared_error(y_true, y_pred)
rmse = math.sqrt(mse)
df_results['RMSE'][set] = round(rmse)

#MAPE setzen
df_results['MAPE'][set]=round(mean_absolute_percentage_error(y_true, y_pred),4)

df_results.head(10)

C:\Users\strub\AppData\Local\Temp\ipykernel_23944\1778179668.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_results['MAE'][set] = round(mean_absolute_error(y_true, y_pred),0)
C:\Users\strub\AppData\Local\Temp\ipykernel_23944\1778179668.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_results['RMSE'][set] = round(rmse)
C:\Users\strub\AppData\Local\Temp\ipykernel_23944\1778179668.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_results['MAPE'][set]=round(mean_absolute_percentage_error(y_true, y_pred),4)

        MAE  RMSE    MAPE
Set1   3817  3826  3.7058
Set2   3796  3808   3.713
Set3   3471  3514  2.8159
Set4   4456  7140  1.3457
Set5   3527  6866    0.42
Set6   2237  2551  1.1118
Set7   3489  3529  2.8724
Set8   3965  3971  4.4096
Set9   4053  4058  4.9378
Set10  4032  4039  4.9018

In [55]:
df_results.to_csv('Errors_Orbit_Wiki.csv',index=False)