In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error
import math

C:\Users\strub\anaconda3\envs\prophet39\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [33]:
df_results = pd.DataFrame(columns = ['MAE', 'RMSE', 'MAPE'])
df_results['MAE'] = [0,0,0,0,0,0,0,0,0,0]
df_results.index = ['Set1', 'Set2', 'Set3', 'Set4', 'Set5','Set6', 'Set7', 'Set8', 'Set9', 'Set10']
df_results.head()

      MAE RMSE MAPE
Set1    0  NaN  NaN
Set2    0  NaN  NaN
Set3    0  NaN  NaN
Set4    0  NaN  NaN
Set5    0  NaN  NaN

In [61]:
number=9
y_true_data = '../wiki_Test_'+str(number)+'.csv'
y_pred_data = 'Wiki_Prophet_Forecast_'+str(number)+'.csv' 

df_true = pd.read_csv(y_true_data)
df_pred = pd.read_csv(y_pred_data)

print(df_true.head())
print(df_pred.head())

print(len(df_true[df_true['values']<0]))
len(df_pred[df_pred['yhat']<0])

           ds  values
0  2021-05-01     595
1  2021-05-02     670
2  2021-05-03     993
3  2021-05-04    1129
4  2021-05-05    1088
           ds         yhat
0  2021-05-01  -509.958299
1  2021-05-02   569.160565
2  2021-05-03  1413.063733
3  2021-05-04   453.505091
4  2021-05-05   -35.829646
0

17

In [62]:
df_pred.loc[df_pred.yhat<50,'yhat']= 0 
print(df_pred.head())
print(len(df_pred[df_pred['yhat']<0]))

           ds         yhat
0  2021-05-01     0.000000
1  2021-05-02   569.160565
2  2021-05-03  1413.063733
3  2021-05-04   453.505091
4  2021-05-05     0.000000
0

In [63]:
# An welcher Stelle einf√ºgen

set = 'Set'+str(number)

y_true = df_true['values']
y_pred = df_pred['yhat']

# MAE setzen 

df_results['MAE'][set] = round(mean_absolute_error(y_true, y_pred),0)

#RMSE setzen
mse=mean_squared_error(y_true, y_pred)
rmse = math.sqrt(mse)
df_results['RMSE'][set] = round(rmse)

#MAPE setzen
df_results['MAPE'][set]=round(mean_absolute_percentage_error(y_true, y_pred),4)

df_results.head(10)

C:\Users\strub\AppData\Local\Temp\ipykernel_6400\2421352208.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_results['MAE'][set] = round(mean_absolute_error(y_true, y_pred),0)
C:\Users\strub\AppData\Local\Temp\ipykernel_6400\2421352208.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_results['RMSE'][set] = round(rmse)
C:\Users\strub\AppData\Local\Temp\ipykernel_6400\2421352208.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_results['MAPE'][set]=round(mean_absolute_percentage_error(y_true, y_pred),4)

        MAE  RMSE    MAPE
Set1    757   857   0.701
Set2    787   935  0.6976
Set3   1663  2234   1.067
Set4   4502  6263  1.2775
Set5   4588  6216   0.905
Set6   1708  2245  0.5157
Set7    689   809  0.4961
Set8    633   708  0.6804
Set9    676   755   0.759
Set10   619   704  0.6799

In [64]:
df_results.to_csv('Errors_Prophet_Wiki.csv',index=False)